@model IEnumerable<MerazWardrobe.Models.Top>

@{
    ViewBag.Title = "Index";
}

@* Customize header *@

<h2>Tops</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@* Add thumbnail preview *@
@* Add img src and alt text *@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Details", new { id = item.TopID })" class="thumbnail">
            <img src="@Url.Content(@item.Photo)" alt="@item.Name" />
            </a>
        </div>
    }
</div>


@* Delete table elements, save data for reference *@

@* Titles *@

@*@Html.DisplayNameFor(model => model.Name)

    @Html.DisplayNameFor(model => model.Photo)

    @Html.DisplayNameFor(model => model.Style)

    @Html.DisplayNameFor(model => model.Color)

    @Html.DisplayNameFor(model => model.Season)

    @Html.DisplayNameFor(model => model.Occasion) *@

@* Contents *@


        @*@Html.DisplayFor(modelItem => item.Name)

        @Html.DisplayFor(modelItem => item.Photo)

        @Html.DisplayFor(modelItem => item.Style)

        @Html.DisplayFor(modelItem => item.Color)

        @Html.DisplayFor(modelItem => item.Season)

        @Html.DisplayFor(modelItem => item.Occasion)

        @Html.ActionLink("Edit", "Edit", new { id = item.TopID }) |
        @Html.ActionLink("Details", "Details", new { id = item.TopID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TopID })*@

