@model IEnumerable<MerazWardrobe.Models.Sho>

@{
    ViewBag.Title = "Index";
}

@* Customize header *@

<h2>Shoes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@* Add thumbnail preview *@
@* Add img src and alt text *@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-md-4">
            <a href="@Url.Action("Details", new { id = item.ShoesID })" class="thumbnail">
            <img src="@Url.Content(@item.Photo)" alt="@item.Name" />
            </a>
        </div>
    }
</div>

    @* Deleted table minus view specific details *@

    @*@Html.ActionLink("Edit", "Edit", new { id = item.ShoesID }) |
    @Html.ActionLink("Details", "Details", new { id = item.ShoesID }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.ShoesID })*@


